$primary-color: rgb(91, 95, 91);
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(..img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: rgb(105, 107, 105);
    }
  }
}
